@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;


header {
  background-color: $dark-bg;
  color: $text-light;
  height: 140px;
  padding: 20px 15px;
  text-align: center;

  h1 {
    font-size: 1.8rem;
  }

  nav {
    margin: 20px;
    @include flex-center(row, center, center);
    flex-wrap: wrap;
    gap: 15px;

    a {
      color: $text-light;
      text-decoration: none;
      font-size: 1.1rem;
      transition: color 0.2s ease;

      &:hover {
        color: $primary-color;
      }
    }
  }
}
