@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

main.otros-productos {
  max-width: 1100px;

  .grid-productos {
    grid-template-columns: 1fr;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
    }

    @include desktop {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}